{% extends "base.html" %}
{% block content %}
    <p>This system has some smarts to it so pay attention;</p>
    <ul>
        <li>Use `{{ delimiter }}` to mark a black cards "pick" field(s)</li>
        <li>If you put no fields it will be registered as a white card</li>
        <li>If you put more than {{ max_pick }} fields it will error out</li>
        <li>You have 256 Characters</li>
        <li>Name can only be 30 characters</li>
    </ul>
    <p>
        examples:<br />
        White card: "lolfurries"<br />
        Black Card: "{{ delimiter }}furries" or "{{ delimiter }} are the new {{ delimiter }}"
    </p>
    <hr>
    <h2>I have an awesome Furries Against Humanity card!</h2>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <form action="" method="post" name="card">
        {{ form.hidden_tag() }}
        <p>
            Card Text {{ form.card_text(size=140) }}
            {% for error in form.card_text.errors %}
                <div class="errors">[Card Text Error: {{ error }}]</div>
            {% endfor %}
            <br />
            Gimme credit for my idea! I'm {{ form.whom(size=30, default=user) }}<br />
            {% for error in form.whom.errors %}
                <div class="errors">[Name Error: {{ error }}]</div>
            {% endfor %}

            <input type="submit" value="Submit">
        </p>
    </form>
{% endblock %}