<!DOCTYPE html>
<html>
<head>
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            More proof we ruin everything
        {% endif %}
        - Furries Against Humanity
    </title>
    <link rel="stylesheet" href="/static/main.css" type="text/css" />
</head>
<body>
    <h1><a href="/index">Furries Against Humanity</a></h1>
    <div class="header"><a href="/">home</a> | <a href="/add">submit cards</a> | <a href="/show">show cards</a> </div>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>