div.flash {
    font-size: 200%;
    color: mediumvioletred;
}

div.errors {
    color: red;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    padding: 2px;
}

td {
    padding: 4px;
}

th {
    background-color: green;
    color: white;
}